body {
  background-color: rgb(0, 0, 0);
}
.box {
  max-width: 1000px;
  margin: 0 auto; 
  background: rgba(255, 255, 255, 0.266); 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 2px 10px rgba(56, 151, 202, 0.638); 
  color: white;
}